<!DOCTYPE html>
<html>
  <head>
    <title>User Form</title>
    <style>
    .row {
      line-height: 2;
    }
    .row .label {
      float: left;
      width: 40%;
      text-align: right;
      margin-right: 20px;
    }
    .toolbar {
      text-align: center;
      margin-top: 30px;
    }
    </style>
  </head>
  <body>
    <h2>User Form</h2>
    <form action="{{^id}}/rest/users/add{{/id}}{{#id}}/user_example/rest/users/update{{/id}}" method="POST">
      <input type="hidden" name="id" value="{{id}}" />
      <div class="row">
        <div class="label">User Name</div>
        <div class="control">
          <input type="text" name="username" value="{{name}}" {{#name}}readonly{{/name}} />
        </div>
      </div>
      <div class="row">
        <div class="label">Password</div>
        <div class="control">
          <input type="text" name="password" value="{{password}}" />
        </div>
      </div>
      <div class="toolbar">
        <input type="submit" value="Save" />
        <a href="/rest/users">Cancel</a>
      </div>
    </form>
  </body>
</html>